<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div> -->

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand">Bequester</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- TODO fix this, hamburger menu isn't working -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/bequests">Bequests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/people">People</a>
      </li>
    </ul>
  </div>
  
</nav>
<!-- <app-people></app-people>
<app-bequests></app-bequests> -->

<router-outlet></router-outlet>
