<div *ngIf="bequest" class="bequest">
  <h4>{{bequest.name}}</h4>
  <h6>Description</h6>
  <p>{{bequest.desc}}</p>
  
  <!-- editing bequest -->
  <button type="button" (click)="editing=!editing">Edit bequest</button>
  <form *ngIf="editing" (ngSubmit)="onSubmit">
    <label for="name">Name
      <input class="form-control" type="text"
      required
      [(ngModel)]="bequest.name" name="name"
      placeholder="Bequest name">
    </label>
    <label for="desc">Description
      <textarea class="form-control" name="desc" rows="8" cols="80"
      [(ngModel)]="bequest.desc">
      </textarea>
    </label>
    
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  
  <!-- show bequest holdings -->
  <div *ngIf="holdings">
    <ul>
      <li *ngFor="let holding of holdings">
        {{holding.firstname}} {{holding.lastname}}: {{holding.dateStarted}}
      </li>
    </ul>
  </div>
  
</div>
