<div *ngIf="bequest" class="bequest">
  <h4>
    {{bequest.name}}
  </h4>
  Bequest created in {{bequest.dateCreated}}
  <h6>Description</h6>
  <p>{{bequest.desc}}</p>
  
  <!-- show bequest holdings -->
  <div *ngIf="holdings">
    <ul>
      <li *ngFor="let holding of holdings">
        {{holding.firstname}} {{holding.lastname}}: {{holding.dateStarted}}
      </li>
    </ul>
  </div>
  
  <!-- editing bequest -->
  <a [routerLink]="" (click)="editing=!editing">Edit</a>
  <div class="bequestEditor" *ngIf="editing">
    <h4>Editing {{bequest.name}} (id#{{bequest.bequestID}})</h4>
    <form *ngIf="editing" (ngSubmit)="onSubmit" #bequestForm="ngForm">
      <label for="name">Name
        <input class="form-control" type="text"
        required
        [(ngModel)]="bequest.name" name="name"
        placeholder="Bequest name">
      </label>
      <label for="desc">Description
        <textarea class="form-control" name="desc" rows="8" cols="80"
        [(ngModel)]="bequest.desc">
        </textarea>
      </label>
      <label for="dateCreated">Date created
        <input class="form-control" type="date" name="dateCreated"
        [(ngModel)]="bequest.dateCreated">
      </label>
      <br>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  
</div>
