<div *ngIf="person">
  
  <h4>{{person.firstname}} {{person.lastname}}
    ({{person.gradYear}})
  </h4>
  
  <p>Position: {{person.position}}</p>
  
  <div *ngIf="holdings">
    <h4>Holdings</h4>
    <ul>
      <li *ngFor="let holding of holdings">
        <app-holding [holding]="holding" [viewType]="'person'"
        (updated)="getHoldings()"></app-holding>
      </li>
    </ul>
  </div>
  <a [routerLink]="" (click)="onCreateHolding()"><span>&#43;</span> Add holding</a>
  <!-- new holding editor -->
  <div class="holdingEditor" *ngIf="creatingHolding">
    <h4>Creating new holding</h4>
    <form class="" (ngSubmit)="onSubmitCreateHolding()" #holdingForm="ngForm">
      <div *ngIf="people">
        <label for="person">Person
          <select class="form-control" name="person"
          required [(ngModel)]="newHolding.personID" #p="ngModel">
            <option *ngFor="let p of people" [value]="p.personID">
              {{p.firstname}} {{p.lastname}} ({{p.gradYear}})
            </option>
          </select>
        </label>
        <div *ngIf="(p.invalid) && (p.dirty || p.touched)"
            class="alert alert-danger">
          <div *ngIf="p.errors.required">
            Person must be selected.
          </div>
        </div>
      </div>
      
      <div *ngIf="bequests">
        <label for="bequest">Bequest
          <select class="form-control" name="bequest"
          required [(ngModel)]="newHolding.bequestID" #bequest="ngModel">
            <option *ngFor="let b of bequests" [value]="b.bequestID">
              {{b.name}}, created in {{b.dateCreated}}
            </option>
          </select>
        </label>
        <div *ngIf="(bequest.invalid) && (bequest.dirty || bequest.touched)"
            class="alert alert-danger">
          <div *ngIf="bequest.errors.required">
            Bequest must be selected.
          </div>
        </div>
      </div>
      
      <label for="dateStarted">Date holding started
        <input type="date" name="dateStarted" class="form-control"
        required
        [(ngModel)]="newHolding.dateStarted" #dateStarted="ngModel">
      </label>
      <div *ngIf="(dateStarted.invalid) && (dateStarted.dirty || dateStarted.touched)"
          class="alert alert-danger">
        <div *ngIf="dateStarted.errors.required">
          Start date must be specified.
        </div>
      </div>
      
      <label for="comment">Comment
        <input type="text" name="comment" class="form-control"
        [(ngModel)]="newHolding.comment" #comment="ngModel"
        placeholder="Comment (e.g. ''Because he's slow.'')">
      </label>
      
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div> <!-- end new holding editor -->
  
  <!-- person editor -->
  <a [routerLink]="" (click)="onEdit()">Edit</a>
  <div class="personEditor" *ngIf="editing">
    <h4>Editing {{person.firstname}} {{person.lastname}} (id#{{person.personID}})</h4>
    <form class="" (ngSubmit)="onSubmitEdit()" #personForm="ngForm">
      <label for="name">Name
        <input type="text" name="firstname" class="form-control"
        required [(ngModel)]="editedPerson.firstname" #firstname="ngModel"
        placeholder="First name">
        <input type="text" name="lastname" class="form-control"
        required [(ngModel)]="editedPerson.lastname" #lastname="ngModel"
        placeholder="Last name">
      </label>
      <div *ngIf="(firstname.invalid || lastname.invalid)
       && (firstname.dirty || firstname.touched
            || lastname.dirty || lastname.touched)"
          class="alert alert-danger">
        <div *ngIf="name.errors.required">
          First and last name are both required.
        </div>
      </div>
      
      <label for="name">Position
        <input type="text" name="position" class="form-control"
        [(ngModel)]="editedPerson.position" #position="ngModel"
        placeholder="Position (e.g. rower, coxswain)">
      </label>
      
      <label for="name">Graduation year
        <input type="number" step="1" name="gradYear" class="form-control"
        required
        [(ngModel)]="editedPerson.gradYear" #gradYear="ngModel"
        placeholder="Graduation year (e.g. 2020)">
      </label>
      <div *ngIf="(gradYear.invalid) && (gradYear.dirty || gradYear.touched)"
          class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Graduation year is required.
        </div>
      </div>
      
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  
</div>
