<div *ngIf="person">
  
  <h4>{{person.firstname}} {{person.lastname}}
    ({{person.gradYear}}, #{{person.personID}})
  </h4>
  <p><b>Position:</b> {{person.position}}</p>
  
  <!-- person editor -->
  <a [routerLink]="" (click)="onEdit()">Edit</a>
  <div class="personEditor" *ngIf="editing">
    <h4>Editing {{person.firstname}} {{person.lastname}} (id#{{person.personID}})</h4>
    <form class="" (ngSubmit)="onSubmit()" #personForm="ngForm">
      <label for="firstname">
        <input type="text" name="firstname" class="form-control"
        required [(ngModel)]="editedPerson.firstname" #firstname="ngModel"
        placeholder="First name">
      </label>
      <label for="lastname">
        <input type="text" name="lastname" class="form-control"
        required [(ngModel)]="editedPerson.lastname" #lastname="ngModel"
        placeholder="Last name">
      </label>
      <div *ngIf="(firstname.invalid || lastname.invalid)
       && (firstname.dirty || firstname.touched
            || lastname.dirty || lastname.touched)"
          class="alert alert-danger">
        <div *ngIf="name.errors.required">
          First and last name are both required.
        </div>
      </div>
      
      <label for="name">
        <input type="text" name="position" class="form-control"
        [(ngModel)]="editedPerson.position" #position="ngModel"
        placeholder="Position (e.g. rower, coxswain)">
      </label>
      
      <label for="name">
        <input type="number" step="1" name="gradYear" class="form-control"
        required
        [(ngModel)]="editedPerson.gradYear" #gradYear="ngModel"
        placeholder="Graduation year (e.g. 2020)">
      </label>
      <div *ngIf="(gradYear.invalid) && (gradYear.dirty || gradYear.touched)"
          class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Graduation year is required.
        </div>
      </div>
      
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  
  <app-holding-list [personID]="person.personID"></app-holding-list>
  
  <br><br><br>
  
  <h5>List of {{ person.firstname }}'s bequests</h5>
  <div *ngIf="bequestList">
    <ol>
      <li *ngFor="let b of bequestList">
        <b>{{ b.name }}</b><span *ngIf="b.desc">: {{ b.desc }}</span>
        <span *ngIf="b.holdings">
          (<span *ngFor="let h of b.holdings">{{ h.lastname }}
            '{{ h.gradYear.toString().substring(2,4) }}<span
                *ngIf="h != b.holdings[b.holdings.length - 1]">, </span>
          </span>)
        </span>
      </li>
    </ol>
  </div>
</div>
