<div *ngIf="people" class="peopleList row">
  <div class="col-5" id="list">
    <h3>People ({{people.length}} total)</h3>
    <!-- search bar to narrow down people -->
    <div class="searchbar">
      <input [(ngModel)]="searchQuery" (keyup.enter)="onSearch(searchQuery)"
      type="text" name="search" placeholder="Search..." class="form-control">
    </div>
    <div class="people list-group">
      <a *ngFor="let person of people"
      [routerLink]=""
      class="list-group-item list-group-item-action"
      [class.active]="person==selectedPerson"
      (click)="onSelect(person)">
        <p>{{person.firstname}} {{person.lastname}} ({{person.gradYear}})</p>
      </a>
    </div>
    
    <a [routerLink]="" (click)="onCreate()"><span>&#43;</span> Add person</a>
    <!-- new person editor -->
    <div class="personEditor" *ngIf="creating">
      <h4>Creating new person</h4>
      <form class="" (ngSubmit)="onSubmit()" #personForm="ngForm">
        <label for="name">Name
          <input type="text" name="firstname" class="form-control"
          required [(ngModel)]="newPerson.firstname" #firstname="ngModel"
          placeholder="First name">
          <input type="text" name="lastname" class="form-control"
          required [(ngModel)]="newPerson.lastname" #lastname="ngModel"
          placeholder="Last name">
        </label>
        <div *ngIf="(firstname.invalid || lastname.invalid)
         && (firstname.dirty || firstname.touched
              || lastname.dirty || lastname.touched)"
            class="alert alert-danger">
          <div *ngIf="name.errors.required">
            First and last name are both required.
          </div>
        </div>
        
        <label for="name">Position
          <input type="text" name="position" class="form-control"
          [(ngModel)]="newPerson.position" #position="ngModel"
          placeholder="Position (e.g. rower, coxswain)">
        </label>
        
        <label for="name">Graduation year
          <input type="number" step="1" name="gradYear" class="form-control"
          required
          [(ngModel)]="newPerson.gradYear" #gradYear="ngModel"
          placeholder="Graduation year (e.g. 2020)">
        </label>
        <div *ngIf="(gradYear.invalid) && (gradYear.dirty || gradYear.touched)"
            class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Graduation year is required.
          </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div> <!-- end person editor -->
  </div>
  
  <!-- person detail view -->
  <div class="col-7" id="detail">
    <div *ngIf="selectedPerson">
      <app-person [person]="selectedPerson"></app-person>
    </div>
  </div>

</div>
