<a [routerLink]="" (click)="onCreate()"><span>&#43;</span> Add holding</a>
<!-- new holding editor -->
<div class="holdingEditor" *ngIf="creating">
  <h4>Creating new holding</h4>
  <form class="" (ngSubmit)="onSubmit()" #holdingForm="ngForm">
    <div *ngIf="people">
      <label for="person">Person
        <select class="form-control" name="person"
        required [(ngModel)]="holding.personID" #p="ngModel">
          <option *ngFor="let p of people" [value]="p.personID">
            {{p.firstname}} {{p.lastname}} ({{p.gradYear}})
          </option>
        </select>
      </label>
      <div *ngIf="(p.invalid) && (p.dirty || p.touched)"
          class="alert alert-danger">
        <div *ngIf="p.errors.required">
          Person must be selected.
        </div>
      </div>
    </div>
    
    <div *ngIf="bequests">
      <label for="bequest">Bequest
        <select class="form-control" name="bequest"
        required [(ngModel)]="holding.bequestID" #bequest="ngModel">
          <option *ngFor="let b of bequests" [value]="b.bequestID">
            {{b.name}} (created in {{b.dateCreated}})
          </option>
        </select>
      </label>
      <div *ngIf="(bequest.invalid) && (bequest.dirty || bequest.touched)"
          class="alert alert-danger">
        <div *ngIf="bequest.errors.required">
          Bequest must be selected.
        </div>
      </div>
    </div>
    
    <label for="dateStarted">Date holding started
      <input type="date" name="dateStarted" class="form-control"
      required
      [(ngModel)]="holding.dateStarted" #dateStarted="ngModel">
    </label>
    <div *ngIf="(dateStarted.invalid) && (dateStarted.dirty || dateStarted.touched)"
        class="alert alert-danger">
      <div *ngIf="dateStarted.errors.required">
        Start date must be specified.
      </div>
    </div>
    
    <label for="comment">Comment
      <textarea name="comment" class="form-control" rows="4" cols="80"
      [(ngModel)]="holding.comment" #comment="ngModel"
      placeholder="Comment (e.g. ''Because he's slow.'')"></textarea>
    </label>
    
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
