<div *ngIf="holdings">
  <h4>Holdings</h4>
  <div class="list-group">
    <a *ngFor="let holding of holdings" class="list-group-item">
      <div class="d-flex justify-content-between">
        <div>
          <app-holding [holding]="holding" [viewType]="getViewType()"
          (updated)="getHoldings()"></app-holding>
        </div>
        <div>
          <span *ngIf="!(deleting && holding == selectedHolding)"
            (click)="deleting=true; selectedHolding=holding">&#10005;</span>
          <span *ngIf="deleting && holding == selectedHolding">
            <span (click)="onDelete(holding)">&#10006;</span>
            <span (click)="deleting=false">&#9664;</span>
          </span>
        </div>
      </div>
    </a>
  </div>
</div>

<app-holding-creator [(creating)]="creatingHolding" [personID]="personID"
  [bequestID]="bequestID" (created)="getHoldings()">
</app-holding-creator>
